/*==========================================================================================================*/
/*                                        LOGIN                                                             */
/*==========================================================================================================*/
.wallpaper {
    background-image: url('../../../images/LMS-BG-BW.jpg');
}

.auth-inner-wrap .logo img{
    width: 110px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.empty-footer{
    color:white;
    margin-top:10px;
}




